{% extends "MySite/wrapper.html" %}
{% block content %}
    <div class="page-header text-center button">
        <h2>Statistics for {{ user_id }}</h2>
    </div>
<br>
<br>
<br>
        <li>По вашим данным, вероятность попасть в аварию {{ stat.0 }}</li>
        <li>Водители вашего возраста попадают в аварию с вероятностью {{ stat.1 }}</li>
        <li>Водители вашего пола попадают в аварию с вероятностью {{ stat.2 }}</li>
        <li>Водители вашего типа автомобиля попадают в аварию с вероятностью {{ stat.3 }}</li>
        <li>Водители владеющие автомобилями такого же года выпуска попадают в аварию с вероятностью {{ stat.4 }}</li>
        <li>Водители вашего возраста и типа автомобиля попадают в аварию с вероятностью {{ stat.5 }}</li>
        <li>Водители вашего пола и типа автомобиля попадают в аварию с вероятностью {{ stat.6 }}</li>
        <li>Водители вашего возраста и владеющие автомобилями такого же года выпуска попадают в аварию с вероятностью {{ stat.7 }}</li>
        <li>Водители вашего возраста и пола попадают в аварию с вероятностью {{ stat.8 }}</li>
        <li>Водители вашего пола и владеющие автомобилями такого же года выпуска попадают в аварию с вероятностью {{ stat.9 }}</li>
        <li>Водители вашего пола, возраста и владеющие автомобилями такого же года выпуска попадают в аварию с вероятностью {{ stat.10 }}</li>
        <li>Водители вашего возраста, типа автомобиля и владеющие автомобилями такого же года выпуска попадают в аварию с вероятностью {{ stat.11 }}</li>
        <li>Водители вашего пола, возраста и типа автомобиля попадают в аварию с вероятностью {{ stat.12 }}</li>
        <li>Водители вашего пола, типа автомобиля и владеющие автомобилями такого же года выпуска попадают в аварию с вероятностью {{ stat.13 }}</li>
<br><br>
<div class="col-lg-12"><a class="btn btn-primary" href="/MySite/change.html" role="button">Вернуться</a></div>
{% endblock %}
